<ion-header>

  <ion-navbar>
    <ion-title>{{ "About Manzana" | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <button ion-item *ngFor="let item of items" (click)="openPage(item.page)">
      {{item.name}}
    </button>
    
    <button ion-item>
      Version
      <div item-content>
          {{version}}
      </div>
    </button>
    
  </ion-list>
</ion-content>
