<ion-header>

  <ion-navbar>
    <ion-title>{{"Login" | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-8 offset-2 text-center>
        <img src="assets/imgs/icon_M.png">
      </ion-col>
    </ion-row>
  </ion-grid>

  <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Email" name="username" id="loginField" type="text" required [(ngModel)]="username"
              #email></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Password" name="password" id="passwordField" type="password" required [(ngModel)]="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">Login
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button class="btn" color="light" full type="button" (click)="navToRegistrationPage()">{{"Don't have an account? Register here!" | translate}}
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item no-lines (click)="navToForgotPasswordPage()">
          <p text-center>Forgot your password?</p>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>
</ion-content>