<!--
  Generated template for the AppointmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Appointment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-list radio-group>
	  <ion-list-header>
	    Select a City Lab
	  </ion-list-header>

	  <ion-item>
	    <ion-label>City Lab 1</ion-label>
	    <ion-radio checked="true" value="lab1"></ion-radio>
	  </ion-item>

	  <ion-item>
	    <ion-label>City Lab 2</ion-label>
	    <ion-radio value="lab2"></ion-radio>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>Firstname</ion-label>
	    <ion-input type="text"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>Lastname</ion-label>
	    <ion-input type="password"></ion-input>
	  </ion-item>

	  <ion-item>
	      <ion-label>Start Date</ion-label>
	      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
	  </ion-item>


	<ion-item>
	  <ion-label>Start Time</ion-label>
	  <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
	</ion-item>

	</ion-list>

	<div padding>
		<button ion-button>Register</button>
	</div>

</ion-content>
