<!-- <ion-content padding> -->
	<ion-tabs>
	  <ion-tab [root]="tab1Root" tabTitle=" {{'HOME' | translate}}" tabIcon="home"></ion-tab>
	 <!-- <ion-tab [root]="tab2Root" tabTitle="News" tabIcon="paper"></ion-tab> -->
	  <ion-tab [root]="tab3Root" tabTitle=" {{'LOGBOOK' | translate}}" tabIcon="time"></ion-tab>
	  <ion-tab [root]="tab4Root" tabTitle=" {{'MONITORING' | translate}}" tabIcon="pulse"></ion-tab>
	</ion-tabs>
<!-- </ion-content> -->
