<ion-header>

  <ion-navbar>
    <ion-title>{{"Bluetooth Devices" | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="scan()">
        Scan
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list> 
    <ion-list-header>
      {{"Available devices" | translate}}
    </ion-list-header>
    <button ion-item *ngFor="let device of devices" (click)="deviceSelected(device)">
      <h2>{{ device.name || 'Unnamed' }}</h2>
      <p>{{ device.id }}</p>
      <p>RSSI: {{ device.rssi }}</p>
    </button>  
  </ion-list>
  <p>{{ statusMessage }}</p>

</ion-content>
