<ion-header>

  <ion-navbar>
    <ion-title>Forgotten password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p *ngIf="resetSuccess">An email will be sent to your email address that includes a password reset link.</p>
  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()" autocomplete="off">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Your email" formControlName="email" name="email" id="emailField" type="text"
              required [(ngModel)]="email"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="!resetForm.controls.email.valid && (resetForm.controls.email.dirty || submitAttempt)" class="alert alert-danger">{{error}}</div>
        <button ion-button class="submit-btn" full type="submit" [disabled]="!resetForm.valid">Reset
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>