page-dashboard {
	
	ion-fab {
	    button {
	        box-shadow: 0 4px 10px #6b6b6b;
	    }

	    ion-fab-list button[ion-fab] {
	        text-align: center;
	        overflow: visible;
	        color: rgb(44, 182, 159);

	        div.label {
	          position: absolute;
	          right: 48px;
	          background: rgba(0,0,0,0.7);
	          color: #ffffff;
	          height: 24px;
	          line-height: 16px;
	          padding-left: 8px;
	          padding-right: 8px;
	          padding-top: 5px;
	          padding-bottom: 5px;
	          margin-top: 8px;
	          border-radius: 5px;
	          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
	        }
	    }

	    .button-inner {
	        overflow: visible;
	    }
	}

    .custombis{
        color:rgb(73, 75, 74);
        font-size:18px;
        text-align: "center" !important;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      .custom{
        color:rgb(79, 193, 201);
        font-size:25px;
        font-weight: 100;
        padding:2em;
        font-style: italic;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      .card-title {
          font-size: 55px;
          font-weight:100;
          color: rgb(6, 7, 7);
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      .img-logo{
          width:130px;
      }

      .card-subtitle {
          font-size: 0.8em;
		  font-weight: 200;
		  margin-top: 20px;
      	  color: black;
      }

      .h5{
          font-weight: 100;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

      }
      .myCard{
		  position:relative;
		  border: 0;

		}

		.myOverlay{
		    width: 100%;
		    height: 60px;
		    position: absolute;
		    z-index: 99;
		    bottom: 50px;
		    left: 0px;
		    opacity: 0.5;
		    /*background: #000;*/
		    color: #fff;

		}
}
