<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{"Dashboard" | translate}}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="navToNotificationsPage()">
				<ion-icon name="notifications" large></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>]

<ion-content padding>

	<ion-fab bottom right #fab>
		<button ion-fab>
			<ion-icon name="add"></ion-icon>
		</button>
		<ion-fab-list side="top">
			<button ion-fab (click)="newEntry('glycaemia', fab)">
				<ion-icon name="speedometer"></ion-icon>
				<div class="label">{{"Glucose" | translate}}</div>
			</button>
			<button ion-fab (click)="newEntry('meal', fab)">
				<ion-icon name="restaurant"></ion-icon>
				<div class="label">{{"Meal" | translate}}</div>
			</button>
			<button ion-fab (click)="newEntry('activity', fab)">
				<ion-icon name="walk"></ion-icon>
				<div class="label">{{"Physical Activity" | translate}}</div>
			</button>
			<button ion-fab (click)="newEntry('meds', fab)">
				<ion-icon name="medkit"></ion-icon>
				<div class="label">{{"Medication" | translate}}</div>
			</button>
			<button ion-fab (click)="newEntry('weight', fab)">
				<ion-icon name="man"></ion-icon>
				<div class="label">{{"Weight" | translate}}</div>
			</button>
			<button ion-fab (click)="newEntry('bp', fab)">
				<ion-icon name="stats"></ion-icon>
				<div class="label">{{"Blood Pressure" | translate}}</div>
			</button>
			<button ion-fab (click)="newEntry('hba1c', fab)">
				<ion-icon name="speedometer"></ion-icon>
				<div class="label">{{"HbA1c" | translate}}</div>
			</button>
		</ion-fab-list>
	</ion-fab>
	{{responseFit}}
	<ion-grid>
		<ion-row>
			<ion-col col-4>
				<h1 style="text-align: center">
					<!-- <img src="assets/imgs/apple_icon.png"> -->
					<!-- 	    		<ion-card class="myCard"> -->
					<img class="img-logo" src="assets/imgs/logo_manzanan.png" />
					<div class="myOverlay">
						<div class="card-title">45</div>
						<div class="card-subtitle">Score</div>
					</div>
					<!-- 				</ion-card> -->
				</h1>
			</ion-col>
			<ion-col offset-1 col-7>
				<ion-row>
					<ion-col col-5>
						<h6 ion-text>HbA1c:</h6>
					</ion-col>
					<ion-col col-7>
						<h2 ion-text color="primary">{{hba1c}}%</h2>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-5>
						<h6 ion-text>{{"Steps" | translate}}:</h6>
					</ion-col>
					<ion-col col-7>
						<h2>{{todaySteps}}</h2>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-5>
						<h6 ion-text>Calories:</h6>
					</ion-col>
					<ion-col col-7>
						<h2>{{todayCalories | number: '1.0-0'}}</h2>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
		<!-- <ion-row>
			<ion-col col-6 offset-3 text-center>
				<h2>HbA1c: 6.5%</h2>
				<h2>{{todaySteps}}</h2>
			</ion-col>
		</ion-row> -->
		<ion-row>
			<ion-col col-2><img src="assets/imgs/dashboard/glucose_icon.png"></ion-col>
			<ion-col col-8>
				<progressbar [progress]="bglManagement" [progressbgcolor]="bglcolor"></progressbar>
				<h6 style="text-align: center;">{{"BGL management" | translate}}</h6>
			</ion-col>
			<ion-col col-2>
				<span></span>
				<h5 ion-text style="vertical-align:center;" color="primary">LVL 1</h5>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col col-2>
				<img src="assets/imgs/dashboard/fitness_icon.png">
			</ion-col>
			<ion-col col-8>
				<progressbar [progress]="fitnessScore" [progressbgcolor]="fitnesscolor"></progressbar>
				<h6 style="text-align: center;">{{"Fitness score" | translate}}</h6>
			</ion-col>
			<ion-col col-2>
				<span></span>
				<h5 ion-text color="primary">LVL 3</h5>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col col-2><img src="assets/imgs/dashboard/diet_icon.png"></ion-col>
			<ion-col col-8>
				<progressbar [progress]="dietScore" [progressbgcolor]="dietcolor"></progressbar>
				<h6 style="text-align: center;">{{"Diet score" | translate}}</h6>
			</ion-col>
			<ion-col col-2>
				<span></span>
				<h5 ion-text color="primary">LVL 1</h5>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col col-2><img src="assets/imgs/dashboard/literacy_icon.png"></ion-col>
			<ion-col col-8>
				<progressbar [progress]="literacyScore" [progressbgcolor]="literacycolor"></progressbar>
				<h6 style="text-align: center;">{{"Literacy" | translate}}</h6>
			</ion-col>
			<ion-col col-2>
				<span></span>
				<h5 ion-text color="primary">LVL 3</h5>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>