<ion-header>

  <ion-navbar>
    <ion-title>Results</ion-title>
  </ion-navbar>

    <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segmentB">
      <ion-segment-button value="biomarkers">
        Biomarkers
      </ion-segment-button>

      <ion-segment-button value="indicators">
        Health indicators
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <div [ngSwitch]="segmentB">

    <ion-list *ngSwitchCase="'biomarkers'">
      <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
        <ion-icon name="speedometer" color="{{item.icon}}" item-left>
    	</ion-icon>
        {{item.marker}}
        <p> {{item.date}} </p>
        <div class="item-note" item-right>   
          <h2 ion-text color="{{item.icon}}" style="font-weight: bold;">
            {{item.value}}         
            <ion-icon name="{{item.trend}}" color="black"></ion-icon>
          </h2>
          <p> {{item.unit}} </p>
        </div>
      </button>
    </ion-list>

    <div *ngSwitchCase="'indicators'">

     <div id="mycontainer" style="display: block;"> </div>

    </div>
  </div>
</ion-content>
