<ion-header>

  <ion-navbar>
    <ion-title>Generate PDF Report</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label stacked>Firstname</ion-label>
    <ion-input [(ngModel)]="reportObj.firstname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Lastname</ion-label>
    <ion-input [(ngModel)]="reportObj.lastname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>From</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="reportObj.from"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label stacked>To</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="reportObj.to"></ion-datetime>
  </ion-item>
  <ion-item *ngIf="!datesValid">
    <p>Please check entered dates!</p>
  </ion-item>
  <ion-item>
    <ion-label stacked>Text</ion-label>
    <ion-textarea [(ngModel)]="reportObj.text" rows="10"></ion-textarea>
  </ion-item>

  <button ion-button full (click)="createPdf()">Create PDF</button>
  <button ion-button full (click)="downloadPdf()" color="secondary" [disabled]="!pdfObj">Download PDF</button>

</ion-content>