<ion-header>

  <ion-navbar>
    <ion-title>{{"Create an account" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Email" name="username" type="text" required [(ngModel)]="username" formControlName="email"></ion-input>
          </ion-item>
          <ion-item *ngIf="!registerForm.controls.email.valid  && (registerForm.controls.email.dirty || submitAttempt)">
            <p>Please enter a valid email address.</p>
          </ion-item>

          <ion-item>
            <ion-input placeholder="Password" name="password" type="password" required [(ngModel)]="password"
              formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Re-enter password" name="passwordConfirmation" type="password" required [(ngModel)]="password2"
              formControlName="passwordConfirmation"></ion-input>
          </ion-item>
          <ion-item *ngIf="registerForm.hasError('mismatchedPasswords')">
            <p>Passwords do not match.</p>
          </ion-item>

          <ion-item>
            <ion-input placeholder="Firstname" name="firstname" type="text" required [(ngModel)]="firstname"
              formControlName="firstname"></ion-input>
          </ion-item>
          <ion-item *ngIf="!registerForm.controls.firstname.valid  && (registerForm.controls.firstname.dirty || submitAttempt)">
            <p>Please enter a valid firstname.</p>
          </ion-item>

          <ion-item>
            <ion-input placeholder="Lastname" name="lastname" type="text" required [(ngModel)]="lastname"
              formControlName="lastname"></ion-input>
          </ion-item>
          <ion-item *ngIf="!registerForm.controls.lastname.valid  && (registerForm.controls.lastname.dirty || submitAttempt)">
            <p>Please enter a valid lastname.</p>
          </ion-item>

          <ion-item>
            <ion-label>Birthdate</ion-label>
            <ion-datetime placeholder="dd/mm/yyyy" displayFormat="DD/MM/YYYY" name="birthdate" required [(ngModel)]="birthdate" formControlName="birthdate"></ion-datetime>
          </ion-item>
          <ion-item *ngIf="!registerForm.controls.birthdate.valid  && (registerForm.controls.birthdate.dirty || submitAttempt)">
            <p>Please enter a valid birthdate.</p>
          </ion-item>

          <ion-item>
            <ion-label>{{"Gender" | translate}}</ion-label>
            <ion-select [(ngModel)]="gender" name="gender" formControlName="gender">
              <ion-option value="1">{{"Male" | translate}}</ion-option>
              <ion-option value="2">{{"Female" | translate}}</ion-option>
              <ion-option value="3">{{"Other" | translate}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>{{"Language" | translate}}</ion-label>
            <ion-select [(ngModel)]="language" name="language" formControlName="language">
              <ion-option value="FR">{{"French" | translate}}</ion-option>
              <ion-option value="NL">{{"Dutch" | translate}}</ion-option>
              <ion-option value="EN">{{"English" | translate}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>{{"Condition" | translate}}</ion-label>
            <ion-select [(ngModel)]="condition" name="condition" formControlName="condition">
              <ion-option value="d1">{{"Diabetes Type 1" | translate}}</ion-option>
              <ion-option value="d2">{{"Diabetes Type 2" | translate}}</ion-option>
              <ion-option value="hf">{{"Heart Failure" | translate}}</ion-option>
            </ion-select>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.valid">{{"Register" |
          translate}}
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>