<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{"Glucose Profile" | translate}}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="navtoBluetoothPage()">
				SYNC
			</button>
		</ion-buttons>
	</ion-navbar>

	<ion-toolbar>
		<ion-segment [(ngModel)]="treatmentTab" color="primary">
			<ion-segment-button value="treatmentGlucose">
				{{"Glucose" | translate}}
			</ion-segment-button>
			<ion-segment-button value="treatmentInsulin">
				<!-- <ion-icon name="camera">Glucose</ion-icon> -->
				{{"Insulin" | translate}}
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>

</ion-header>
<ion-content padding *ngIf="auth.isLoggedIn()">

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ion-fab bottom right #fab>
		<button ion-fab>
			<ion-icon name="add"></ion-icon>
		</button>

		<ion-fab-list side="top">
			<button ion-fab (click)="newEntry('glycaemia', fab)">
				<ion-icon name="speedometer"></ion-icon>
				<div class="label">{{"Glucose" | translate}}</div>
			</button>
			<button ion-fab (click)="newEntry('meal', fab)">
				<ion-icon name="restaurant"></ion-icon>
				<div class="label">{{"Meal" | translate}}</div>
			</button>
			<button ion-fab (click)="newEntry('activity', fab)">
				<ion-icon name="walk"></ion-icon>
				<div class="label">{{"Physical Activity" | translate}}</div>
			</button>
			<button ion-fab (click)="newEntry('meds', fab)">
				<ion-icon name="medkit"></ion-icon>
				<div class="label">{{"Medication" | translate}}</div>
			</button>
			<button ion-fab (click)="newEntry('weight', fab)">
				<ion-icon name="man"></ion-icon>
				<div class="label">{{"Weight" | translate}}</div>
			</button>
			<button ion-fab (click)="newEntry('bp', fab)">
				<ion-icon name="stats"></ion-icon>
				<div class="label">{{"Blood Pressure" | translate}}</div>
			</button>
			<button ion-fab (click)="newEntry('hba1c', fab)">
				<ion-icon name="speedometer"></ion-icon>
				<div class="label">{{"HbA1c" | translate}}</div>
			</button>
		</ion-fab-list>
	</ion-fab>

	<!-- <div *ngIf="entriesError">
		
	</div> -->
	<div [ngSwitch]="treatmentTab">

		<div *ngSwitchCase="'treatmentGlucose'">

			<ion-item>
				<ion-label>From</ion-label>
				<ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="from" (ionChange)="displayAgp()"></ion-datetime>
			</ion-item>

			<ion-item>
				<ion-label>To</ion-label>
				<ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="to" (ionChange)="displayAgp()"></ion-datetime>
			</ion-item>

			<ion-grid>
				<ion-row>
					<ion-col col-4 text-center>
						<button ion-button round (click)="updateAgp('1m')">1m</button>
					</ion-col>
					<ion-col col-4 text-center>
						<button ion-button round (click)="updateAgp('2m')">2m</button>
					</ion-col>
					<ion-col col-4 text-center>
						<button ion-button round (click)="updateAgp('3m')">3m</button>
					</ion-col>
				</ion-row>
			</ion-grid>

			<div id="agp" style="display: block;" *ngIf="!entriesError"></div>

			<ion-grid>

				<ion-row *ngIf="entriesError">
					<ion-col offset-3 col-6 text-center>
						<h4>{{entriesErrorMessage}}</h4>
						<h2>{{entriesError.status}}</h2>
						<!-- <h4>{{entriesError.name}}</h4> -->
						<!-- <h4>{{entriesError.error}}</h4> -->
						<!-- <h4>{{entriesError.message}}</h4> -->
						<h4 *ngIf="entriesError.status === 401">{{"Please log in" | translate}}</h4>
					</ion-col>
				</ion-row>

				<ion-row>

					<ion-col col-4 text-center>
						<div class="circle-text">{{glyStats.glymin | number: '1.0-0'}}
							<div class="unit">mg/dL</div>
						</div>
						<p>Min. glucose</p>
					</ion-col>
					<ion-col col-4 text-center>
						<div class="circle-text">{{glyStats.glymean | number: '1.0-0'}}
							<div class="unit">mg/dL</div>
						</div>
						<p>Avg. glucose</p>
					</ion-col>
					<ion-col col-4 text-center>
						<div class="circle-text">{{glyStats.glymax | number: '1.0-0'}}
							<div class="unit">mg/dL</div>
						</div>
						<p>Max. glucose</p>
					</ion-col>

				</ion-row>

				<ion-row>
					<ion-col col-4 text-center>
						<div class="cubic-text">{{glyStats.hypoperc | number: '1.0-0'}}
							<div class="unit">%</div>
						</div>
						<p>Hypo percentage
						</p>

					</ion-col>
					<ion-col col-4 text-center>
						<div class="cubic-text">{{glyStats.glyvar * 100}}
							<div class="unit">%</div>
						</div>
						<p>{{"Glycaemic variability" | translate}}</p>

					</ion-col>
					<ion-col col-4 text-center>
						<div class="cubic-text">{{glyStats.hyperperc | number: '1.0-0'}}
							<div class="unit">%</div>
						</div>
						<p>Hyper percentage</p>

					</ion-col>

				</ion-row>
			</ion-grid>
			Tag ID: {{tagId}} <br />
			{{seePayload}}
			<ion-card>
				<ion-grid>
					<ion-row>
						<ion-col>
							<span class="custom"> {{"Scan your" | translate}} </span>
							<span class="custom"> {{"glucose meter" | translate}} </span>

						</ion-col>
						<ion-col>
							<img src="assets/imgs/nfc.png" width="20%">
						</ion-col>
					</ion-row>
				</ion-grid>
				<div *ngIf="message">
					<ion-grid>
						<ion-row>
							<ion-col>
								Glycaemia :
								<span class="measure">{{ message }} </span>
								<span class="unit">[mg/dL]</span>
							</ion-col>
							<ion-col>
								<button ion-button item-right icon-right class="refblue" (click)="newEntry('glycaemia')">
									<ion-icon name="add"></ion-icon>
									<ion-label>Add ?</ion-label>
								</button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</ion-card>
		</div>
		<div *ngSwitchCase="'treatmentInsulin'">
			<ion-grid>
				<ion-row>

					<ion-col col-4 text-center>
						<div class="cubic-text">2
							<div class="unit">U</div>
						</div>
						<p>Basal Insulin</p>
					</ion-col>
					<ion-col col-4 text-center>
						<div class="cubic-text">3
							<div class="unit">U</div>
						</div>
						<p>Bolus Insulin</p>
					</ion-col>
					<ion-col col-4 text-center>
						<div class="cubic-text">3
							<div class="unit">U</div>
						</div>
						<p>Active Insulin</p>
					</ion-col>

				</ion-row>
			</ion-grid>

			<ion-card>
				<ion-card-header>
					{{ "Bolus Assistant" | translate }}
				</ion-card-header>
				<ion-segment [(ngModel)]="bolusAssistantTab" color="primary">
					<ion-segment-button value="bolusMeal">
						<ion-icon name="pizza"></ion-icon>
						{{"Meal" | translate}}
					</ion-segment-button>
					<ion-segment-button value="bolusSport">
						<ion-icon name="football"></ion-icon>
						Sport
					</ion-segment-button>
					<ion-segment-button value="bolusCorrection">
						<ion-icon name="clock"></ion-icon>
						Correction
					</ion-segment-button>
				</ion-segment>

				<ion-card-content>
					<div [ngSwitch]="bolusAssistantTab">

						<div *ngSwitchCase="'bolusMeal'">
							<ion-item>
								<ion-label>Estimated carbs</ion-label>
								<ion-input type="number" min="0" [(ngModel)]="carbsEst" placeholder="g"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label>Current glycemia</ion-label>
								<ion-input type="number" [(ngModel)]="currentGly" placeholder="mg/dL"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label>Sport planned within 2h after meal?</ion-label>
								<ion-toggle [(ngModel)]="sportPlan"></ion-toggle>
							</ion-item>

							<ion-grid *ngIf="sportPlan === true">
								<ion-row>
									<ion-col col-6>
										<ion-list radio-group [(ngModel)]="intensity">
											<ion-list-header>
												{{"Intensity" | translate}}
											</ion-list-header>
											<ion-item>
												<ion-label>1</ion-label>
												<ion-radio value="1" checked></ion-radio>
											</ion-item>
											<ion-item>
												<ion-label>2</ion-label>
												<ion-radio value="2"></ion-radio>
											</ion-item>
											<ion-item>
												<ion-label>3</ion-label>
												<ion-radio value="3"></ion-radio>
											</ion-item>
										</ion-list>
									</ion-col>
									<ion-col col-6>
										<ion-list radio-group [(ngModel)]="duration">
											<ion-list-header>
												{{ "Duration" | translate }} (min)
											</ion-list-header>
											<ion-item>
												<ion-label>15</ion-label>
												<ion-radio value="15"></ion-radio>
											</ion-item>
											<ion-item>
												<ion-label>30</ion-label>
												<ion-radio value="30"></ion-radio>
											</ion-item>
											<ion-item>
												<ion-label>45</ion-label>
												<ion-radio value="45"></ion-radio>
											</ion-item>
											<ion-item>
												<ion-label>60</ion-label>
												<ion-radio value="60"></ion-radio>
											</ion-item>
											<ion-item>
												<ion-label>75</ion-label>
												<ion-radio value="75"></ion-radio>
											</ion-item>
											<ion-item>
												<ion-label>90</ion-label>
												<ion-radio value="90"></ion-radio>
											</ion-item>
										</ion-list>
									</ion-col>
								</ion-row>
							</ion-grid>

						</div>

						<div *ngSwitchCase="'bolusSport'">
							<ion-item>
								<ion-label>Current glycemia</ion-label>
								<ion-input type="number" [(ngModel)]="currentGly" placeholder="mg/dL"></ion-input>
							</ion-item>
							<ion-grid>
								<ion-row>
									<ion-col col-6>
										<ion-list radio-group [(ngModel)]="intensity">
											<ion-list-header>
												{{ "Intensity" | translate}}
											</ion-list-header>
											<ion-item>
												<ion-label>1</ion-label>
												<ion-radio value="1" checked></ion-radio>
											</ion-item>
											<ion-item>
												<ion-label>2</ion-label>
												<ion-radio value="2"></ion-radio>
											</ion-item>
											<ion-item>
												<ion-label>3</ion-label>
												<ion-radio value="3"></ion-radio>
											</ion-item>
										</ion-list>
									</ion-col>
									<ion-col col-6>
										<ion-list radio-group [(ngModel)]="duration">
											<ion-list-header>
												{{ "Duration" | translate}}
											</ion-list-header>
											<ion-item>
												<ion-label>15</ion-label>
												<ion-radio value="15"></ion-radio>
											</ion-item>
											<ion-item>
												<ion-label>30</ion-label>
												<ion-radio value="30"></ion-radio>
											</ion-item>
											<ion-item>
												<ion-label>45</ion-label>
												<ion-radio value="45"></ion-radio>
											</ion-item>
											<ion-item>
												<ion-label>60</ion-label>
												<ion-radio value="60"></ion-radio>
											</ion-item>
											<ion-item>
												<ion-label>75</ion-label>
												<ion-radio value="75"></ion-radio>
											</ion-item>
											<ion-item>
												<ion-label>90</ion-label>
												<ion-radio value="90"></ion-radio>
											</ion-item>
										</ion-list>
									</ion-col>
								</ion-row>
							</ion-grid>
						</div>
						<div *ngSwitchCase="'bolusCorrection'">
							<ion-item>
								<ion-label>Current glycemia</ion-label>
								<ion-input type="number" [(ngModel)]="currentGly" placeholder="mg/dL"></ion-input>
							</ion-item>
						</div>
						<button ion-button full (click)="estimateBolus()">Estimate</button>
					</div>
				</ion-card-content>

			</ion-card>

		</div>
	</div>
</ion-content>