page-home {    
    ion-fab {
        button {
            box-shadow: 0 4px 10px #6b6b6b;
        }

        ion-fab-list button[ion-fab] {
            text-align: center;
            overflow: visible;
            color: rgb(44, 182, 159);

            div.label {
              position: absolute;
              right: 48px;
              background: rgba(0,0,0,0.7);
              color: #ffffff;
              height: 24px;
              line-height: 16px;
              padding-left: 8px;
              padding-right: 8px;
              padding-top: 5px;
              padding-bottom: 5px;
              margin-top: 8px;
              border-radius: 5px;
              box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
            }
        }

        .button-inner {
            overflow: visible;
        }
    }

    .custombis{
        color:rgb(73, 75, 74);
        font-size:18px;
        text-align: "center" !important;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      .custom{
        color:rgb(79, 193, 201);
        font-size:25px;
        font-weight: 100;
        padding:2em;
        font-style: italic;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      
      .cubic-text {
        position:relative;
        display: block;
        
        height: 60px; /*change this and the width
        for the size of your initial circle*/
        width: 60px;
        text-align: center;
        border-radius: 30%;
        /*make it pretty*/
        background:#5B8CBF;
        text-align:center;
        color: #fff;
        padding:0.5em;
        font: 20px "josefin sans", arial;
        margin: 0 auto;
        }
        
        .circle-text {
                  position: relative;
                display: block;
                height: 60px; 
                width: 60px;
                border-radius: 50%;
                background:#3A9F9C;
                text-align: center;
                color: #fff;
                margin-left:1em;
                padding:0.5em;
                font: 20px "josefin sans", arial;
                margin: 0 auto;
                }
        
        .p{
          text-align:center;
          padding-top:0.2em;
          font: 13px arial, sans-serif;
        }
        
        .unit {
            font: 12px arial, sans-serif;
            color: white;
        }
}
