<ion-header>

      <ion-navbar>
            <ion-title>{{pageTitle}} {{valueType}}</ion-title>
            <ion-buttons end>
                  <button ion-button [disabled]="!form.valid" (click)="addEntry()">
                        <ion-icon name="checkmark" large></ion-icon>
                  </button>
            </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding *ngIf="auth.isLoggedIn()">

      <div>
            <ion-item *ngIf="isEdited && !hideForm">
                  <button ion-button item-right color="secondary" text-center block (click)="deleteEntry()">
                        Remove this Entry?
                  </button>
            </ion-item>

            <div *ngIf="hideForm">
                  <ion-item class="post-entry-message" text-wrap>
                        <h2>New entry successfully added!</h2>
                  </ion-item>
            </div>

            <ion-searchbar *ngIf="valueType== 'meal'" [(ngModel)]="searchInput" [showCancelButton]="shouldShowCancel"
                  (ionInput)="getMeals($event)" (ionCancel)="clearMeals($event)" placeholder=" {{'Search for food' | translate}}">
            </ion-searchbar>

            <div *ngIf="!hideForm">
                  <form [formGroup]="form">
                        <ion-list>

                              <ion-item-group *ngIf="valueType=='glycaemia'">
                                    <ion-item>
                                          <ion-label color="primary">{{"Measured Value" | translate}}</ion-label>
                                          <ion-label class="smallgrey"> [mg/dL]</ion-label>
                                          <ion-input type="number" formControlName="value" [(ngModel)]="value"></ion-input>
                                    </ion-item>

                                    <ion-item>

                                          <ion-label color="primary">{{"Acquisition Time" | translate}}</ion-label>

                                          <ion-datetime displayFormat="DD/MM, HH:mm" formControlName="acquisitionDate"
                                                [(ngModel)]="acquisitionDate">
                                          </ion-datetime>
                                    </ion-item>
                                    <ion-item>

                                          <ion-label color="primary">{{"Comment" | translate}}</ion-label>

                                          <ion-textarea placeholder="Additional notes..." formControlName="comment"
                                                rows="3" [(ngModel)]="comment"></ion-textarea>
                                    </ion-item>

                              </ion-item-group>

                              <ion-item-group *ngIf="valueType=='meal'">

                                    <ion-item>
                                          <ion-grid>
                                                <ion-row>
                                                      <ion-col col-7>
                                                            {{"Name" | translate}}
                                                      </ion-col>
                                                      <ion-col col-2>
                                                            {{"Grade" | translate}}
                                                      </ion-col>
                                                      <ion-col col-2>
                                                            Carbs
                                                      </ion-col>
                                                      <ion-col col-1>
                                                      </ion-col>
                                                </ion-row>

                                                <ion-row *ngFor="let meal of meals">
                                                      <ion-col col-7>
                                                            {{meal.name}}
                                                      </ion-col>
                                                      <ion-col col-2>
                                                            {{meal.grade}}
                                                      </ion-col>
                                                      <ion-col col-2>
                                                            {{meal.carbs}} g
                                                      </ion-col>
                                                      <ion-col col-1>
                                                            <!-- <ion-checkbox></ion-checkbox> -->
                                                      </ion-col>
                                                </ion-row>

                                                <ion-row>
                                                      <ion-col col-4>
                                                            {{"Total carbs" | translate}}: 52g
                                                      </ion-col>
                                                </ion-row>
                                          </ion-grid>
                                    </ion-item>

                                    <ion-item>
                                          <ion-label color="primary">Date:</ion-label>

                                          <ion-datetime displayFormat="DD/MM, HH:mm" formControlName="acquisitionDate"
                                                [(ngModel)]="acquisitionDate">
                                          </ion-datetime>
                                    </ion-item>

                                    <ion-item>
                                          <ion-label color="primary">{{"Type" | translate}}:</ion-label>
                                          <ion-select [(ngModel)]="mealType" formControlName="mealType">
                                                <ion-option value="breakfast">{{"Breakfast" | translate}}</ion-option>
                                                <ion-option value="snackmorning">{{"Snack Morning" | translate }}</ion-option>
                                                <ion-option value="lunch">{{"Lunch" | translate}}</ion-option>
                                                <ion-option value="snackafternoon">{{"Snack Afternoon" | translate}}</ion-option>
                                                <ion-option value="dinner">{{"Dinner" | translate}}</ion-option>
                                          </ion-select>
                                    </ion-item>

                                    <ion-item>
                                          <ion-label color="primary">Photo:</ion-label>
                                          <ion-input type="file" [id]="pic"></ion-input>
                                    </ion-item>

                                    <ion-item>

                                          <ion-label color="primary">{{"Comment" | translate}}</ion-label>

                                          <ion-textarea placeholder=" {{'Additional notes...' | translate}}"
                                                formControlName="comment" rows="3" [(ngModel)]="comment"></ion-textarea>
                                    </ion-item>
                              </ion-item-group>

                              <ion-item-group *ngIf="valueType=='activity'">

                                    <ion-list radio-group formControlName="duration" [(ngModel)]="duration">
                                          <ion-list-header>
                                                {{"Duration" | translate}}
                                          </ion-list-header>
                                          <ion-item>
                                                <ion-label>15</ion-label>
                                                <ion-radio value="0.25" checked></ion-radio>
                                          </ion-item>
                                          <ion-item>
                                                <ion-label>30</ion-label>
                                                <ion-radio value="0.5"></ion-radio>
                                          </ion-item>
                                          <ion-item>
                                                <ion-label>45</ion-label>
                                                <ion-radio value="0.75"></ion-radio>
                                          </ion-item>
                                          <ion-item>
                                                <ion-label>60</ion-label>
                                                <ion-radio value="1"></ion-radio>
                                          </ion-item>
                                          <ion-item>
                                                <ion-label>75</ion-label>
                                                <ion-radio value="1.25"></ion-radio>
                                          </ion-item>
                                          <ion-item>
                                                <ion-label>90+</ion-label>
                                                <ion-radio value="1.5"></ion-radio>
                                          </ion-item>
                                    </ion-list>

                                    <ion-list radio-group formControlName="intensity" [(ngModel)]="intensity">
                                          <ion-list-header>
                                                {{"Intensity" | translate}}
                                          </ion-list-header>
                                          <ion-item>
                                                <ion-label>1</ion-label>
                                                <ion-radio value="1" checked></ion-radio>
                                          </ion-item>
                                          <ion-item>
                                                <ion-label>2</ion-label>
                                                <ion-radio value="2"></ion-radio>
                                          </ion-item>
                                          <ion-item>
                                                <ion-label>3</ion-label>
                                                <ion-radio value="3"></ion-radio>
                                          </ion-item>
                                    </ion-list>

                                    <ion-item>
                                          <ion-label color="primary">Date:</ion-label>
                                          <ion-datetime displayFormat="DD/MM, HH:mm" formControlName="acquisitionDate"
                                                [(ngModel)]="acquisitionDate">
                                          </ion-datetime>
                                    </ion-item>

                                    <ion-item>

                                          <ion-label color="primary">{{"Comment" | translate}}</ion-label>

                                          <ion-textarea placeholder=" {{'Additional notes...' | translate}}"
                                                formControlName="comment" rows="3" [(ngModel)]="comment"></ion-textarea>
                                    </ion-item>
                              </ion-item-group>

                        </ion-list>
                  </form>
            </div>

      </div>

</ion-content>