<ion-header>

  <ion-navbar>
	<ion-title>{{"Settings" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list>
	<ion-list-header>
		{{"System" | translate}}
	</ion-list-header>

	<ion-item>
		<ion-label>
			{{"Password" | translate}}
		</ion-label>		
		<button ion-button item-end (click)="openModalChangePassword()">
			Change
		</button>
	</ion-item>

	<ion-item>
		<ion-label>
			{{"Language" | translate}}
		</ion-label>
		<!-- <div item-content> -->
			<ion-select [(ngModel)]="selectedLang" (ionChange)="changeLanguage($event)">
				<ion-option *ngFor="let lang of languages" [value]="lang.code" [selected]="selectedLang == lang.code">{{lang.name}}</ion-option>
			</ion-select>
		<!-- </div> -->
	</ion-item>

</ion-list>

<br />

<ion-list>
	<ion-list-header>
		{{"Measurement" | translate}}
	</ion-list-header>

	<ion-item>
		<ion-label>
			Unit glycemia
		</ion-label>
		<div item-content>
			<p>mg/dL</p>
		</div>
	</ion-item>
</ion-list>

</ion-content>
