<ion-header>

	<ion-navbar>
		<ion-title>{{"My Profile" | translate}}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="editProfileModal()">
				{{"Edit" | translate}}
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content padding>

	<ion-grid>

		<ion-row>
			<ion-col col-4 offset-4>
				<ion-avatar item-start>
					<img src="assets/imgs/john_doe.jpeg">
				</ion-avatar>
				<!-- 	<ion-img width="100%" height="100px" src="assets/imgs/john_doe.jpeg"></ion-img> -->
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-12 text-center>
				<h2>{{userProfile.firstname}} {{userProfile.lastname}}</h2>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-list>

		<ion-list-header>
			{{ "Medical Information" | translate}}
		</ion-list-header>

		<ion-item *ngFor="let con of userProfile.condition">
			<ion-icon name="medkit" size="large" item-start></ion-icon>
			{{con.name | translate}}
			<div item-content>
				<p>{{con.type}}</p>
			</div>
		</ion-item>

		<ion-item>
			<ion-icon name="medkit" size="large" item-start></ion-icon>
			{{"Age" | translate}}
			<div item-content>
				<p>{{userProfile.age}}</p>
			</div>
		</ion-item>

		<ion-item>
			<ion-icon name="male" size="large" item-start></ion-icon>
			{{"Gender" | translate}}
			<div item-content>
				<p *ngIf="userProfile.gender === '1'">Male</p>
				<p *ngIf="userProfile.gender === '2'">Female</p>
				<p *ngIf="userProfile.gender === '3'">Other</p>
			</div>
		</ion-item>
	</ion-list>

	<ion-list>

		<ion-list-header>
			{{"Personal Information" | translate}}
		</ion-list-header>

		<ion-item>
			<ion-icon name="mail" size="large" item-start></ion-icon>
			Email
			<div item-content>
				<p>{{userProfile.email}}</p>
			</div>
		</ion-item>

		<ion-item>
			<ion-icon name="home" size="large" item-start></ion-icon>
			{{"Address" | translate}}
			<div item-content text-wrap>
				<p>{{userProfile.homeAddress}}</p>
			</div>
		</ion-item>

		<ion-item>
			<ion-icon name="calendar" size="large" item-start></ion-icon>
			{{"Birthdate" | translate}}
			<div item-content text-wrap>
				<p>{{userProfile.birthdate | date: 'longDate'}}</p>
			</div>
		</ion-item>

		<ion-item>
			<ion-icon name="call" size="large" item-start></ion-icon>
			{{"Phone" | translate}}
			<div item-content>
				<p>+{{userProfile.phone}}</p>
			</div>
		</ion-item>
	</ion-list>

</ion-content>