<ion-header>

  <ion-navbar>
    <ion-title>{{selectedItem.marker}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	{{selectedItem.value}}
	{{selectedItem.unit}}
	<div id="container" style="display: block;"	></div>
</ion-content>
