<ion-header>

  <ion-navbar>
    <ion-title>Change Password</ion-title>
    <!-- <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="changeForm" (ngSubmit)="closeModal()" autocomplete="off">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label color="primary" floating>Current password</ion-label>
            <ion-input formControlName="oldPassword" name="oldPassword" id="oldField" type="password" required
              [(ngModel)]="passwords.oldPassword"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label color="primary" floating>New password</ion-label>
            <ion-input formControlName="newPassword" name="newPassword" id="newField" type="password" required
              [(ngModel)]="passwords.newPassword"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label color="primary" floating>Confirm new password</ion-label>
            <ion-input formControlName="newPasswordConfirmation" name="newPasswordConfirmation" id="newConfField" type="password"
              required [(ngModel)]="passwords.newPasswordConfirmation"></ion-input>
          </ion-item>
          <ion-item *ngIf="changeForm.hasError('mismatchedPasswords')">
            <p>Passwords do not match.</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button class="submit-btn" full type="submit" [disabled]="!changeForm.valid">CHANGE</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>