<ion-menu [content]="mycontent" id="sidebarMenu">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="side-menu21" style="background-color:#ffffff;">
      <div class="spacer" style="width:268px;height:20px;" id="menu-spacer0"></div>
    <img class="image-cropper" src="assets/imgs/john_doe.jpeg" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />   
        <ion-label text-center style="color:rgb(10, 31, 36);font-size:18px;">
            John Doe
        </ion-label>
        <ion-label text-center>
          LVL 5
        </ion-label>
    <div class="spacer" style="width:268px;height:40px;" id="menu-spacer2"></div>
    <ion-list class="side-menu-gradient"  id="menu-list5">
      <ion-item color="none" id="menu-list-item11" (click)="openPage(pages[0])">
        <ion-icon name="person" item-left></ion-icon>
        {{"My Profile" | translate}}
      </ion-item>
      <ion-item color="none" id="menu-list-item11" (click)="openPage(pages[1])">
        <ion-icon name="person" item-left></ion-icon>
        {{"My Objectives" | translate}}
      </ion-item>
      <!-- <ion-item color="none" id="menu-list-item9" (click)="openPage(pages[])">
        <ion-icon name="options" item-left></ion-icon>
        {{"BA Parameters" | translate}}
      </ion-item> -->
      <!-- <ion-item color="none" id="menu-list-item9" (click)="openPage(pages[])">
        <ion-icon name="sync" item-left></ion-icon>
        {{"Sync Parameters" | translate}}
      </ion-item> -->
      <ion-item color="none" id="menu-list-item9" (click)="openPage(pages[2])">
        <ion-icon name="build" item-left></ion-icon>
        {{"Preferences" | translate}}
      </ion-item>
      <ion-item color="none" id="menu-list-item9" (click)="openPage(pages[3])">
          <ion-icon name="build" item-left></ion-icon>
          {{"Connected Devices" | translate}}
        </ion-item>
      <ion-item color="none" id="menu-list-item9" (click)="openPage(pages[5])">
        <ion-icon name="document" item-left></ion-icon>
        {{"Send Report" | translate}}
      </ion-item>
      <ion-item color="none" id="menu-list-item9" (click)="openPage(pages[4])">
          <ion-icon name="document" item-left></ion-icon>
          {{"About Menzana" | translate}}
        </ion-item>
      <ion-item color="none" id="menu-list-item8" (click)="logout()">
        <ion-icon name="log-out" item-left></ion-icon>
        {{"Logout" | translate}}
      </ion-item>
    </ion-list>
    <div class="spacer" style="width:268px;height:10px;" id="menu-spacer1"></div>
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
