// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../pages/login/login";

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Lato-BoldItalic.woff') format('woff'),
        url('../assets/fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Black.woff2') format('woff2'),
        url('../assets/fonts/Lato-Black.woff') format('woff'),
        url('../assets/fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-BlackItalic.woff2') format('woff2'),
        url('../assets/fonts/Lato-BlackItalic.woff') format('woff'),
        url('../assets/fonts/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/Lato-LightItalic.woff') format('woff'),
        url('../assets/fonts/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Light.woff2') format('woff2'),
        url('../assets/fonts/Lato-Light.woff') format('woff'),
        url('../assets/fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.woff2') format('woff2'),
        url('../assets/fonts/Lato-Regular.woff') format('woff'),
        url('../assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Bold.woff2') format('woff2'),
        url('../assets/fonts/Lato-Bold.woff') format('woff'),
        url('../assets/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('../assets/fonts/Lato-Hairline.woff2') format('woff2'),
        url('../assets/fonts/Lato-Hairline.woff') format('woff'),
        url('../assets/fonts/Lato-Hairline.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Italic.woff2') format('woff2'),
        url('../assets/fonts/Lato-Italic.woff') format('woff'),
        url('../assets/fonts/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('../assets/fonts/Lato-HairlineItalic.woff2') format('woff2'),
        url('../assets/fonts/Lato-HairlineItalic.woff') format('woff'),
        url('../assets/fonts/Lato-HairlineItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}


button[ion-fab] {
    overflow: visible;
    position: relative;

    ion-label {
        position: absolute;
        top: -8px;
        right: 40px;

        color: white;
        background-color: rgba(0,0,0,0.7);
        line-height: 24px;
        padding: 4px 8px;
        border-radius: 4px;
    }
}

.measure{
    color:rgb(52, 165, 218);
    font-size:25px !important;
    font-weight: 500 !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .unit{
    color:grey;
    font-size: 14px;
}

.smallgrey{
    color:grey;
    font-size: 14px;
}

.fab{
    contain: layout;
}


.refblue{
    background-color:rgb(52, 165, 218);
}