<ion-header>

  <ion-navbar>
    <ion-title>News</ion-title>
<!--     <ion-buttons end>
      <button ion-button (click)="addEntry()">
          <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>   -->
  </ion-navbar>

</ion-header>


<ion-content padding>

	<!-- <ion-item>
      <button
         class="add"
         ion-button
         item-right
         icon-right
         margin-bottom
         color="primary"
         (click)="addCharacter()">
            Add news
            <ion-icon name="add"></ion-icon>
      </button>
   </ion-item> -->

</ion-content>
