<ion-header>

  <ion-navbar>
    <ion-title>{{ peripheral.name || 'Device' }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <p>{{ statusMessage }}</p>
  
    <!-- <ion-card>
      <ion-card-header>
        Status
      </ion-card-header>
      <ion-card-content>
        Battery level: {{batteryStatus}} <br />
        Current time: {{currentTimeGlucoseMeter}}
      </ion-card-content>
    </ion-card> -->

    <!-- <ion-card>
      <ion-card-header>
        Glucose Features
      </ion-card-header>
      <ion-card-content>
        Features total: {{glucoseFeature}}
        <ion-item *ngFor="let glf of glucoseFeature">
          {{glf}}
        </ion-item>
      </ion-card-content>
    </ion-card> -->

    <ion-card>
      <ion-card-header>
        Glucose measurements
      </ion-card-header>
      <ion-card-content>
          Number of Records: {{numberRecords}}
          Num of Rec Length: {{numberRecordsLength}}
        <ion-item *ngFor="let rec of glucoseRecord">
          Loop: {{rec}}
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
          {{ peripheral.name || 'Unnamed' }}
        </ion-card-header>
        <ion-card-content>
          {{ peripheral.id }}
        </ion-card-content>
      </ion-card>
    
      <ion-card>
        <ion-card-header>
          Services
        </ion-card-header>
    
        <ion-list>
          <ion-item *ngFor="let service of peripheral.services">
            {{service}}
          </ion-item>
        </ion-list>
      </ion-card>
    
      <ion-card>
        <ion-card-header>
          Details
        </ion-card-header>
        <ion-card-content>
          <pre>{{peripheral | json }}</pre>
        </ion-card-content>
      </ion-card>

</ion-content>
