<ion-header>

  <ion-navbar>
    <ion-title>Change objective {{ objectiveType }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<form [formGroup]="form" (ngSubmit)="saveObjective()">
		<ion-list>
			<ion-item-group>
                  <ion-item-divider color="light">Min value</ion-item-divider>
                  <ion-item>
                     <ion-input
                        type="text"
                        placeholder="mg/dL"
                        formControlName="minValue"
                        [(ngModel)]="minGlycaemiaValue"></ion-input>
                  </ion-item>
               </ion-item-group>

               <ion-item-group>
                  <ion-item-divider color="light">Max value</ion-item-divider>
                  <ion-item>
                     <ion-input
                        type="text"
                        placeholder="mg/dL"
                        formControlName="maxValue"
                        [(ngModel)]="maxGlycaemiaValue"></ion-input>
                  </ion-item>
               </ion-item-group>

               <ion-item>
                  <button
                     ion-button color="primary" text-center block [disabled]="!form.valid">Save </button>
               </ion-item>
		</ion-list>
	</form>

</ion-content>
