page-notifications {
	.activity {
		background: rgba(90, 179, 149, 0.5);
	}

	.measurement {
		background: rgba(9, 82, 86, 0.5);
	}

	.diet {
		background: rgba(134, 168, 115, 0.5);
	}

	.literacy {
		background: rgba(187, 159, 6, 0.5);
	}

	.card {
		.item {
			p {
				color: #000;
			}
		}
	}		
}
