
<ion-header>

  <ion-navbar>
    <ion-title>{{"Notifications" | translate}}</ion-title>
    <ion-buttons end>
    	<button ion-button (click)="dismissAllNotifications()">
    		{{"Clear" | translate}}
    	</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-card *ngFor="let notif of notifications">
		<ion-item [ngClass]="notif.class">
			<ion-icon name="{{notif.name}}" item-start large></ion-icon>
			<h2>{{notif.number}} {{notif.title | translate}}</h2>
			<p>{{notif.date}}</p>
			<ion-icon name="close" item-end large></ion-icon>
		</ion-item>

		<ion-card-content padding-top>
			{{notif.text | translate}}
		</ion-card-content>
	</ion-card>

</ion-content>
