<ion-header>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeEditProfileModal()">Save</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let key of keys">
      <ion-label color="primary">{{key | titlecase }}</ion-label>
      <ion-input placeholder="key" [(ngModel)]="profileData[key]"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>