<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Logbook</ion-title>
    <ion-buttons end>
      <button ion-button (click)="syncEntriesFromServer()">
        <ion-icon name="sync" large></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="logBookTab" color="primary">
      <ion-segment-button value="logBookAll">
        {{"All" | translate}}
      </ion-segment-button>
      <ion-segment-button value="logBookGlucose">
        <!-- <ion-icon name="camera">Glucose</ion-icon> -->
        {{"Glucose" | translate}}
      </ion-segment-button>
      <ion-segment-button value="logBookMeals">
        <!-- <ion-icon name="bookmark">Meals</ion-icon> -->
        {{"Meals" | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab bottom right #fab>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="newEntry('glycaemia', fab)">
        <ion-icon name="speedometer"></ion-icon>
        <div class="label">{{"Glucose" | translate}}</div>
      </button>
      <button ion-fab (click)="newEntry('meal', fab)">
        <ion-icon name="restaurant"></ion-icon>
        <div class="label">{{"Meal" | translate}}</div>
      </button>
      <button ion-fab (click)="newEntry('activity', fab)">
        <ion-icon name="walk"></ion-icon>
        <div class="label">{{"Physical Activity" | translate}}</div>
      </button>
      <button ion-fab (click)="newEntry('meds', fab)">
        <ion-icon name="medkit"></ion-icon>
        <div class="label">{{"Medication" | translate}}</div>
      </button>
      <button ion-fab (click)="newEntry('weight', fab)">
        <ion-icon name="man"></ion-icon>
        <div class="label">{{"Weight" | translate}}</div>
      </button>
      <button ion-fab (click)="newEntry('bp', fab)">
        <ion-icon name="stats"></ion-icon>
        <div class="label">{{"Blood Pressure" | translate}}</div>
      </button>
      <button ion-fab (click)="newEntry('hba1c', fab)">
        <ion-icon name="speedometer"></ion-icon>
        <div class="label">{{"HbA1c" | translate}}</div>
      </button>
    </ion-fab-list>
  </ion-fab>

  <!--   <button ion-button full sticky>
    <ion-icon name="time"></ion-icon>
    <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="myDateStr"></ion-datetime>
  </button> -->

  <div [ngSwitch]="logBookTab">
    <!-- {{result}} -->
    <ion-grid style="height: 100%" *ngIf="timeline.length == 0">
      <ion-row justify-content-center align-items-center style="height: 100%">
        No entries yet!
      </ion-row>
    </ion-grid>

    <ion-list id="cd-timeline" class="cd-container" *ngSwitchCase="'logBookAll'">
      <section *ngFor="let activity of timeline">
        <div class="cd-timeline-block" *ngIf="timeline.length > 0">
          <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
          <div class="cd-timeline-icon royal">
            <ion-icon class="timelineIcon" name="medkit" *ngIf="(activity.type=='insulin')"></ion-icon>
            <ion-icon class="timelineIcon" name="walk" *ngIf="activity.type=='activity' "></ion-icon>
            <ion-icon class="timelineIcon" name="restaurant" *ngIf="activity.type=='meal'"></ion-icon>
            <ion-icon class="timelineIcon" name="speedometer" *ngIf="activity.type=='glycaemia'"></ion-icon>
          </div>
          <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
          <div class="cd-timeline-content royal" *ngIf="activity.type=='meal'">
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <h6 class="marginBottom0 marginTop0">{{activity.title}}</h6>
                  <p class="marginTop5 cd-value">{{activity.date | date: "dd/MM - HH:mm"}}</p>
                  <p>
                    <span class="marginTop5 measure">{{activity.value}}</span> {{activity.unit}}</p>
                </ion-col>
                <ion-col col-4>
                  <img src="{{activity.profilePicture}}">
                </ion-col>
                <ion-col col-2>
                  <ion-icon class="timelineIcon" name="trash" (click)="deleteEntry(activity.rowid)"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div class="cd-timeline-content royal" *ngIf="activity.type!='meal'">
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <h6 class="marginBottom0 marginTop0">{{activity.title}}</h6>
                  <p class="marginTop5 cd-value">{{activity.date | date: "dd/MM - HH:mm"}}</p>
                </ion-col>
                <ion-col col-4>
                  <p>
                    <span class="marginTop5 measure">{{activity.value}}</span> {{activity.unit}}</p>
                </ion-col>
                <ion-col col-2>
                  <ion-icon class="timelineIcon" name="trash" (click)="deleteEntry(activity.rowid)"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </section>
    </ion-list>

    <ion-list id="cd-timeline" class="cd-container" *ngSwitchCase="'logBookMeals'">
      <section *ngFor="let activity of timeline">
        <div class="cd-timeline-block" *ngIf="activity.type=='meal' && timeline.length > 0">
          <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
          <div class="cd-timeline-icon royal">
            <ion-icon class="timelineIcon" name="medkit" *ngIf="(activity.type=='picture')"></ion-icon>
            <ion-icon class="timelineIcon" name="walk" *ngIf="activity.type=='video' "></ion-icon>
            <ion-icon class="timelineIcon" name="restaurant" *ngIf="activity.type=='meal'"></ion-icon>
            <ion-icon class="timelineIcon" name="speedometer" *ngIf="activity.type=='glycaemia'"></ion-icon>
          </div>
          <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
          <div class="cd-timeline-content royal">
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <h6 class="marginBottom0 marginTop0">{{activity.title}}</h6>
                  <p class="marginTop5 cd-value">{{activity.date | date: "dd/MM - HH:mm"}}</p>
                  <p>
                    <span class="marginTop5 measure">{{activity.value}}</span> {{activity.unit}}</p>
                </ion-col>
                <ion-col col-4>
                  <img src="{{activity.profilePicture}}">
                </ion-col>
                <ion-col col-2>
                  <ion-icon class="timelineIcon" name="trash" (click)="deleteEntry(activity.rowid)"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </section>
    </ion-list>

    <ion-list id="cd-timeline" class="cd-container" *ngSwitchCase="'logBookGlucose'">
      <section *ngFor="let activity of timeline">
        <div class="cd-timeline-block" *ngIf="activity.type=='glycaemia' && timeline.length > 0">
          <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
          <div class="cd-timeline-icon royal">
            <ion-icon class="timelineIcon" name="medkit" *ngIf="(activity.type=='picture')"></ion-icon>
            <ion-icon class="timelineIcon" name="walk" *ngIf="activity.type=='video' "></ion-icon>
            <ion-icon class="timelineIcon" name="restaurant" *ngIf="activity.type=='meal'"></ion-icon>
            <ion-icon class="timelineIcon" name="speedometer" *ngIf="activity.type=='glycaemia'"></ion-icon>
          </div>
          <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
          <div class="cd-timeline-content royal">
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <h6 class="marginBottom0 marginTop0">{{activity.title}}</h6>
                  <p class="marginTop5 cd-value">{{activity.date | date: "dd/MM - HH:mm"}}</p>
                </ion-col>
                <ion-col col-4>
                  <p>
                    <span class="marginTop5 measure">{{activity.value}}</span> {{activity.unit}}</p>
                </ion-col>
                <ion-col col-2>
                  <ion-icon class="timelineIcon" name="trash" (click)="deleteEntry(activity.rowid)"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </section>
    </ion-list>

  </div>

</ion-content>