<ion-header>

  <ion-navbar>
    <ion-title>{{ "Connected Devices" | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-divider>
      {{"Devices" | translate}}
    </ion-item-divider>

    <ion-item *ngFor="let dev of devices">
      <ion-label>{{dev.name}}</ion-label>
      <ion-toggle checked="{{dev.enabled}}"></ion-toggle>
    </ion-item>

    <ion-item-divider>
      Services
    </ion-item-divider>

    <ion-item *ngFor="let ser of services">
      <ion-label>{{ser.name}}</ion-label>
      <ion-toggle checked="{{ser.enabled}}"></ion-toggle>
    </ion-item>

  </ion-list>
</ion-content>